.canvas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-paint {
    margin-top:50px;
    border: 1px solid black;
    background-color: white;
}